body{
    background-color: #1e1e1e;
}


/*------------------SIDE BAR--------------*/

.sidebar{
    position: absolute;
    left: 0px;
    top: 50px;
    width: 150px;
    height: 800px;
    background-color: grey;
}


/*------------------NAVIGATION BAR--------------*/


.navbar{
    position: fixed;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 80px;
    background-color: white;

    z-index: 1;
}

.navbarlogo{
    position: relative;
    top: 25px;
    left: 6%;
}

.navbarcontent{
    position: relative;
    bottom: 10px;
    left: 85%;

    color: white;
}



/*------------------PORTFOLIO PROJECTS--------------*/


.maintext{
    position: relative;

    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
}



.portfoliotitle{
    position: relative;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}


.modelviewer{
    position: relative;
    left: 65%;
}



.space{
    width: 100%;
    height: 15px;
    background-color: #1e1e1e;
}

.spacefooter{
    width: 100%;
    height: 15px;
}

.line{
    position: relative;

    left: 5%;
    width: 90%;
    height: 2px;
    background-color: #494949;
}


/*------------------SKILLS & OUTCOMES--------------*/

.skillstext{
    text-align: left;
    row-gap: 5px;
}


.skillsheading{
    text-decoration: underline;
    color: grey;
}


.outcomesHeading{
    /*position: relative;*/
    /*right: inherit;*/
    /*text-align: left;*/
    text-align: center;
    justify-content: center;
}

.skills-outcomes{
    column-count: 2;
    column-gap: 40%;
}


/*------------------FOOTER--------------*/
.footerbox{
    position: static;
    left: 0%;
    bottom: 0%;
    padding: auto auto auto;

    width: 100%;
    height: 150px;
    background-color: #1d2538;

    /*column-count: 2;
    column-gap: 45%;
    column-width: 100px;*/
}

.footerrighttext{
    position: absolute;
    left: 85%;
    font-size: medium;
    text-align: center;
}


.authorbar{
    position: static;
    left: 0%;
    bottom: 0%;
    width: 100%;

    width: 100%;
    height: 50px;
    background-color: #1d2538;
}


.author{
    position: static;
    left: 0%;
    bottom: 10px;

    color: white;
    width: 100%;
    background-color: #1d2538;

    text-align: center;
    justify-content: center;
}


.videobackground{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}


.myinfo{
    position: inherit;

    /*text-align: left;*/
    /*justify-content: left;*/

    width: 50px;


    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;

}

.infoimage{
    float: left;
    margin-right: 15px;
}

.myinfobox{
    width: 80%;
    position: relative;
    left: 5%;

    
    height: fit-content;
}

.testimonialheading{
    position: absolute;
    width: 100%;

    text-align: center;
    justify-content: center;
}
